<footer class="mainfooter" role="contentinfo">
    <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h6>Patient Care & Health Info</h6>
            <ul class="list-unstyled">
              <li><a href="#">Healthy Lifestyle</a></li>
              <li><a href="#">Research</a></li>
              <li><a href="#">Symptoms A-Z</a></li>
              <li><a href="#">Diseases & Conditions A-Z</a></li>     
              <li><a href="#">Appointment</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <!--Column1-->
            <div class="footer-pad">
              <h6>Departments and centers</h6>
              <ul class="list-unstyled">
                <li><a href="#">Doctors and Medical Staff</a></li>
                <li><a href="#">Medical departments and Centers</a></li>
                <li><a href="#">Research Centers & Programs</a></li>
              </ul>
            </div>
          </div>
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h6>Inquiries</h6>
            <ul class="list-unstyled">
              <li><a href="#">+91-301-348-1956</a></li>
              <li><a href="#">covid@gmail</a></li>
            </ul>
          </div>
        </div>
          <div class="col-md-3">
              <h6>Follow Us</h6>
              <ul class="social-network social-circle">
               <li><a href="https://www.facebook.com/profile.php?id=100009354272810" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
               <li><a href="https://www.linkedin.com/in/nisha-dhere-90832b140/" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="https://github.com/nish124" class="icoGithub" title="Github"><i class="fa fa-github"></i></a></li>
              </ul>				
          </div>
      </div>
      <div class="row">
          <div class="col-md-12 mt-3 copy">
              <p class="text-center">
              Copyright &copy;
              2020 All rights reserved | Created by <a
                href="https://www.linkedin.com/in/nisha-dhere-90832b140/" target="_blank">Nisha Dhere</a>
              </p>
          </div>
      </div>
    </div>
    </div>
  </footer>