<h5 style="text-align: center;" class="m-4" style="color: black;font-weight: 600;text-align: center;">Statewise COVID19 Cases</h5>
<p class="m-4" style="text-align: justify;font-size: 14px;">Coronavirus India LIVE news updates: Three months after they closed down following the coronavirus-induced lockdown, the malls in Gurgaon are likely to re-open next week. At a press conference on Friday, the officials said that directions to this effect would soon be issued. West Bengal Bengal Chief Minister too relaxed its night curfew to 10 pm-5 am and said that the government wants the Metro Rail services in Kolkata to resume from July 1.

  Following a spurt in Covid-19 cases in Assam, a 12-hour night curfew will be imposed across the northeastern state from Friday 7 pm and a 14-day complete lockdown in Kamrup district, which includes the Guwahati city, from Sunday midnight. Out of 762 coronavirus cases recorded in Guwahati since June 15, 677 have no travel history, though many had come in contact with returnees from other states, Assam Health Minister Himanta Biswa Sarma said.
  
  With India registering 407 deaths and 17,296 coronavirus cases in the last 24 hours, the total number of infections crossed the 4.9 lakh-mark to reach 4,90,401 including 15,301 fatalities, 1,89,463 active cases, and 2,85,636 people who have been treated and discharged so far. On Thursday, the number of recoveries was 96,173 more than the number of active cases.
  
  Globally, the infections soared to 9,588,717 on Thursday and the death toll rose to 488,842. Also, as many as 4,822,067 people have recovered across the world.
  
  </p>
<div class="pb-4 pt-0">
    <p-table #dt [columns]="cols" [value]="indiaStatCases" [responsive]="true" [scrollable]="true" scrollHeight="306px"
          >
        <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns">
                {{col.header}}
              </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <td *ngFor="let col of columns">
                <span class="ui-column-title">{{col.header}}</span>
                <span class="ui-g">
                  {{rowData[col.field]}}
                </span>
              </td>
            </tr>
        </ng-template>
    </p-table>
  </div>